<div class='flex flex-col items-center h-auto p-8 bg-white border-2 border-b rounded-lg w-96'>
  <div class='flex flex-row w-full h-auto mb-4 '>
    <div class='w-auto h-auto p-2 border-2 border-b rounded-md'>
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.3338 19V12M12.6253 19.0846L19.6038 21.4208C20.1507 21.6039 20.4241 21.6954 20.5928 21.6297C20.7392 21.5727 20.8503 21.4501 20.8927 21.2988C20.9416 21.1245 20.8236 20.8614 20.5878 20.3351L13.0994 3.62232C12.8687 3.10762 12.7534 2.85027 12.5928 2.77053C12.4532 2.70125 12.2894 2.70099 12.1496 2.76982C11.9887 2.84905 11.8726 3.10602 11.6403 3.61998L4.08578 20.336C3.84809 20.862 3.72924 21.125 3.77757 21.2994C3.81954 21.4509 3.93031 21.5738 4.07663 21.6313C4.24512 21.6975 4.51901 21.6066 5.0668 21.4248L12.1193 19.084C12.2132 19.0528 12.2602 19.0372 12.3082 19.0311C12.3508 19.0256 12.394 19.0257 12.4366 19.0312C12.4846 19.0375 12.5315 19.0532 12.6253 19.0846Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class='flex items-center justify-center h-full ml-2'>
      Total Events
    </div>
  </div>
  <div class='flex flex-row w-full h-auto '>
    <div class='flex items-center justify-start w-full h-full text-3xl'>
      <%= events_by_day.values.sum %>
    </div>
    <div data-controller="small-line-chart" class='w-full p-2'>
      <canvas
          id="small-line-chart"
          data-small-line-chart-target="smallLineChart"
          data-small-line-chart-events="<%= events_by_day.to_json %>"
          width="128" height="64"
        ></canvas>
    </div>
  </div>
</div>