<div class='flex flex-col items-center w-full h-auto p-8 bg-white border-2 border-b rounded-lg'>
  <div class='flex flex-row w-full h-auto mb-4 '>
    <div class='w-auto h-auto p-2 border-2 border-b rounded-md'>
      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15.6666 17V21H9.66663V17M5.86663 17H19.4666C20.5867 17 21.1468 17 21.5746 16.782C21.9509 16.5903 22.2569 16.2843 22.4486 15.908C22.6666 15.4802 22.6666 14.9201 22.6666 13.8V6.2C22.6666 5.0799 22.6666 4.51984 22.4486 4.09202C22.2569 3.71569 21.9509 3.40973 21.5746 3.21799C21.1468 3 20.5867 3 19.4666 3H5.86663C4.74652 3 4.18647 3 3.75864 3.21799C3.38232 3.40973 3.07636 3.71569 2.88461 4.09202C2.66663 4.51984 2.66663 5.07989 2.66663 6.2V13.8C2.66663 14.9201 2.66663 15.4802 2.88461 15.908C3.07636 16.2843 3.38232 16.5903 3.75864 16.782C4.18647 17 4.74652 17 5.86663 17Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class='flex items-center justify-center h-full ml-2'>
      Total Page Views
    </div>
  </div>
  <div class='flex flex-row w-full h-auto '>
    <div class='flex items-center justify-start w-full h-full text-3xl'>
      <%= page_views_by_day.values.sum %>
    </div>
    <div data-controller="small-line-chart" class='w-full p-2'>
      <canvas
          id="small-line-chart"
          data-small-line-chart-target="smallLineChart"
          data-small-line-chart-events="<%= page_views_by_day.to_json %>"
          class='w-full '
          <%# width="128" %>
          height="64"
        ></canvas>
    </div>
  </div>
</div>