<div class='flex flex-col items-center h-auto p-8 bg-white border-2 border-b rounded-lg w-96'>
  <div class='flex flex-row w-full h-auto mb-4 '>
    <div class='w-auto h-auto p-2 border-2 border-b rounded-md'>
      <svg width="25" height="24" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11 13.5H6.5C5.10444 13.5 4.40665 13.5 3.83886 13.6722C2.56045 14.06 1.56004 15.0605 1.17224 16.3389C1 16.9067 1 17.6044 1 19M18 19V13M15 16H21M13.5 5.5C13.5 7.98528 11.4853 10 9 10C6.51472 10 4.5 7.98528 4.5 5.5C4.5 3.01472 6.51472 1 9 1C11.4853 1 13.5 3.01472 13.5 5.5Z" stroke="#344054" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </div>
    <div class='flex items-center justify-center h-full ml-2'>
      Total Users
    </div>
  </div>
  <div class='flex flex-row w-full h-auto '>
    <div class='flex items-center justify-start w-full h-full text-3xl'>
      <%= unique_users_by_day.values.sum %>
    </div>
    <div data-controller="small-line-chart" class='w-full p-2'>
      <canvas
          id="small-users-chart"
          data-small-line-chart-target="smallLineChart"
          data-small-line-chart-events="<%= unique_users_by_day.to_json %>"
          width="128"
          height="64"
        ></canvas>
    </div>
  </div>
</div>
