<nav class='fixed top-0 left-0 z-20 w-full px-2 py-2 border-b bg-vaz-beige md:px-32'>
  <div class='flex flex-row items-center justify-between px-4 py-2 mx-auto space-x-4 text-slate-600'>
    <%= link_to 'Dashboard', dashboard_index_path, class: 'text-vaz-blue font-semibold hover:text-vaz-blue'%>
    <div class='flex flex-row space-x-4 '>
      <%= link_to 'Users', users_path, class: 'font-semibold hover:text-vaz-blue'%>
      <%= link_to 'Events', dashboard_index_path, class: 'font-semibold hover:text-vaz-blue'%>
    </div>
  </div>
</nav>
