<nav class='fixed top-0 left-0 z-20 w-full px-2 py-2 border-b bg-vaz-beige md:px-32'>
  <div class='flex flex-row items-center justify-between px-4 py-2 mx-auto space-x-4 text-slate-600'>
    <div class='hover:text-sky-500 '>
      <div class='hover:text-sky-500' >Mullet</div>
    </div>
    <div class='flex flex-row space-x-4 '>
      <div>
        <div class='hover:text-sky-500' >Root</div>
        <%# <%= link_to 'login', login_path, class: 'hover:text-sky-500' %>
      </div>
      <div>
        <div class='hover:text-sky-500' >Root</div>
        <%# <%= link_to 'sign up', user_sign_up_path, class: 'hover:text-sky-500' %>
      </div>
    </div>
  </div>
</nav>
